// This code is to ensure that our footer stays at the bottom of the page.

$footer-height: 60px;

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: $footer-height;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  line-height: $footer-height;

  .navbar-custom .navbar-nav .nav-link {
    color: #ffffff;
  }
}