.tabbed-container {
  padding: 2rem 0;

  .TabbedContainer {
    padding-bottom: 2rem;
  }

  .nav-item {
    border: 1px solid rgba(0, 0, 0, 0.125);
  }

  .nav-item:not(:first-child) {
    border-top-width: 0;
  }

  .nav-link {
    padding: 0.8rem 1rem;
  }

  .nav-pills .nav-link {
    border-radius: 0;
  }

  .tab-pane > div {
    padding: 1rem 0;
  }

  .gray-box {
    margin: 2em 0;
    padding: 1rem 1.5rem;
    background-color: #eeeeee;
  }

  .btn-secondary {
    margin-bottom: 1rem;
  }

  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}
