.toggleAccordion {
  cursor: pointer;
}

.toggleCharacter {
  padding-right: 20px;
  font-weight: bold;
}

.detail {
  padding: 20px;
  border: 1px solid #d6d8db;
  margin-top: -20px;
  margin-bottom: 20px;
}

.detail ul {
  padding-left: 20px;
}

input[type="checkbox"] {
  margin-right: 10px;
  height: 15px;
  width: 15px;
}

/* Expand all weeks when user prints */
@media print {
  .detail {
    display: block !important;
  }
}
