// Any bootstrap variables we're overwriting must be defined before importing bootstrap.
// These variables are found here: https://github.com/twbs/bootstrap/blob/master/scss/_variables.scss

$primary: #046b99 !default; //medium blue
$secondary: #fdb81e !default; //yellowish gold

$font-size-base: 1.2rem !default;

$line-height-base: 1.7 !default;
$line-height-sm: 1.45 !default;
$line-height-lg: 2.2 !default;

$paragraph-margin-bottom: 1.2rem !default;

$h1-font-size: $font-size-base * 2 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.5 !default;
$h4-font-size: $font-size-base * 1.25 !default;

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");

$font-family-sans-serif: "Source Sans Pro", sans-serif !default;

@import "bootstrap/scss/bootstrap";

// Components: Self-contained pieces of the UI, typically with an
// accompanying JS component
@import "components/Header/index";
@import "components/Footer/index";
@import "components/TabbedContainer/index";

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
}

a {
	text-decoration: underline;
}

.btn,
.nav-link {
	text-decoration: none;
}

.btn {
	color: #000000;
}

// Eliminate whitespace overflow on right half of mobile viewport
// None of the usual solutions are compatible with sticky elements
// But this solution is: https://stackoverflow.com/a/59019025/6074728
#overflow-wrapper {
	touch-action: pan-y pinch-zoom;
}

// Needed for IE11: https://stackoverflow.com/a/35820454/6074728
main {
	display: block;
}

// This keeps the footer at the bottom of the page, even if the main
// content is short. This doesn't work in IE, but degrades reasonably
// well (the content doesn't grow if needed).
#overflow-wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
header {
	flex: 0 0 auto;
}
main {
	flex: 1 0 auto;
}
footer {
	flex: 0 0 auto;
}
